/*  폰트 적용 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&display=swap');

html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3, h4, h5, p, figure {margin:0; padding:0;list-style:none;}

a {color:inherit; text-decoration:none;}

/* 라이브러리 */
.con { margin:0 auto;}

.img-box > img {width:100%;display:block;}

.row::after {content:""; display:block; clear:both;}

.cell {float:left; box-sizing:border-box;}

.cell-right {float:right; box-sizing:border-box;}

.margin-0-auto {margin:0 auto;}

.block {display:block;}

.inline-block {display:inline-block;}

.text-align-center {text-align:center;}

.line-height-0-ch-only {line-height:0;}

.line-height-0-ch-only > * {line-height:normal;}

.relative {position:relative;}

.absolute-left {position:absolute; left:0;}

.absolute-right {position:absolute; right:0;}

.absolute-middle {position:absolute;top:50%;transform:translateY(-50%);}

.table {display:table;}

.table-cell {display:table-cell;}


/* 커스텀 */
.con {max-width:1200px; height:384px; border:1px solid red;}

.con-min-width {min-width:320px;}

html {overflow-x:hidden;}


/* 메인 배너 슬라이더 */
/* 휴~~ 아래 영상을 가로로 꽉 채우면 height:auto라서 아래쪽에 영역이상으로 영상이 보여지는 문제발생, 영상이 아무리 잘라도 안잘림, 그래서 전체를 감싸고 있는  .slider-wrap에 
  overflow:hidden !important 를 적용하고 해결함*/
.slider-wrap {position:relative; overflow:hidden !important; margin-top:100px;}

.main-slider {position:relative; margin-bottom:0 !important;}

.main-slider .slide-item .slide-con {position:relative;}

.main-slider .slide-item > .slide-con > .slide-txt {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    padding-left:10%;
    z-index:103;
    color: #fff;
}

.main-slider .slide-item-1 > .slide-con > .slide-txt {
    left:50%;
    transform:translateX(-50%);
    padding:0;
    text-align:center;
	margin-top:-100px;
	
}

.main-slider .slide-item > .slide-con > .slide-txt > h2.txt-tt {
    font-size:48px;
}

.main-slider .slide-item > .slide-con > .slide-txt > p.txt-desc {
    font-size:18px;
    font-weight:300;
    margin-top:16px;
}

.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn {
    margin-top:46px;
}

.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a {
    font-size:14px;
    display:inline-block;
}

.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a.txt-btn-1 {
    position:relative;
    margin-right:31px;
}

.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a.txt-btn-1::after {
    content:"";
    width:0;
    height:1px;
    position:absolute;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
    background-color:#555;
}

.main-slider .slick-active .slide-item .slide-txt > .txt-btn > a.txt-btn-1::after {
    animation:more-btm-line 1s 1 .2s;
    animation-fill-mode: forwards;
}

.main-slider .slick-active .slide-item .slide-txt > .txt-btn > a.txt-btn-1:hover::after {
    animation:more-btm-line-hover 1s 1;
    animation-fill-mode: forwards;
}

@keyframes more-btm-line {
    0%{
        width:0;
    }
    100%{
        width:100%;
    }
}

@keyframes more-btm-line-hover {
    0%{
        width:0;
    }
    100%{
        width:100%;
    }
}


.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a.txt-btn-2 {
    padding:12px 38px;
    border:1px solid #fff;
    border-radius:45px;
    line-height:1;
    letter-spacing:.05rem;
    color:#fff;
    transition:all .5s;
}

.main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a.txt-btn-2:hover {
    background-color:#555;
}

/* 사이드 버튼 */
.main-slider .slick-arrow {
    position:absolute;
    top:50%;
    left:24px;
    transform:translateY(-50%);
    display:block;
    z-index:50;
}

.main-slider .slick-arrow::before {
    display:block;
    width:35px;
    height:55px;
    opacity:0.5;
    color:#fff;
}

.main-slider .slick-next {
    left:auto;
    right:24px;
}

/* 페이지 버튼 */
.main-slider .slick-dots {
    font-size:0;
    position:absolute;
    left:50%;
    bottom:20px;
    transform:translateX(-50%);
    width:54%;
    z-index:50;
}

.main-slider .slick-dots::after {
    content:"";
    display:block;
    clear:both;
}

.main-slider .slick-dots > li {
    width:20%;
    height:auto;
    padding-left:16px;
    margin:0;
    box-sizing:border-box;
    float:left;
}

.main-slider .slick-dots > li > button {
    width:100%;
    height:3px;
    background-color:rgba(255,255,255,.3);
    outline:none;
    position:relative;
    padding:0;
    color:inherit;
    line-height:normal;
}

.main-slider .slick-dots > li > button::before {
    display:none;
}

.main-slider .slick-dots > li > button > .s-line-fill {
    content:"";
    width:0;
    height:2px;
    background-color:#fff;
    position:absolute;
    top:0;
    left:0;
    opacity:1;
}

.slider-wrap .slick-dots .slick-active > button > .s-line-fill {
    animation:slick-progressbar 10s 1;
    animation-fill-mode: forwards;
}

.slider-wrap[data-slick-autoplay-status="N"] .slick-dots .slick-active > button > .s-line-fill {
    animation-play-state:paused;
}

@keyframes slick-progressbar {
    0% {
        width:0%;
    }
    100% {
        width:100%;
    }
}

/* 페이지 버튼 인디케이터 */
.main-slider .slick-dots > li > button > .s-indicator {
    position:absolute;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
    width:110%;
    overflow:hidden;
}

.main-slider .slick-dots > li > button > .s-indicator > .inner-txt {
    font-size:15px;
    font-weight:bold;
    white-space:nowrap;
    display:block;
    width:100%;
    transform:translateY(100%);
    opacity:0;
    transition:all .8s;
    color:#fff;
}

.main-slider .slick-dots > li > button:hover > .s-indicator > .inner-txt {
    transform:translateY(0);
    opacity:1;
    padding-bottom:5px;
}

/* 오토플레이 버튼 */
.slider-wrap .s-autoplay-btn {
    position:absolute;
    right:20%;
    bottom:15px;
    z-index:50;
    font-size:15px;
    color:#fff;
	border:0;
	background-color:transparent;
	cursor:pointer;
}

.slider-wrap[data-slick-autoplay-status="Y"] .s-autoplay-btn:after {
    content:"■";
    display:block;
	font-size:15px;
	text-align:left;
}

.slider-wrap[data-slick-autoplay-status="N"] .s-autoplay-btn:after {
    content:"▶";
    display:block;
    font-size:11px;
	text-align:left;
}

.slider-wrap .slide-dummy {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	z-index:100; /*이것도 넣어줘야 영상위에 떠서 문제해결됨*/
}

#videoBox{position:absolute; z-index:103; top:150px; left:100px;}
#videoBox .txt-video{color:white; border:1px solid white; padding:10px;}


/*비디오 추가해봄, 영상에 호버하면 타이머가 일시정지안됨,position:absolute때문임,  */
/*.box2 video{width:100%; height:auto; max-width:100%; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); margin-top:200px; z-index:1;}*/
.box2 video{width:100%; height:auto; position:relative; left:50%; top:50%; transform:translate(-50%, -50%); margin-top:300px; z-index:1; padding:0;}




h1{ width:500px; height:100px; border:1px solid #ccc; text-align:center; margin:auto; margin-top:100px;}




/* 메인 슬라이더 반응형 */
@media (max-width:1200px){
    .main-slider .slide-item > .slide-con > .slide-txt > h2.txt-tt {font-size:3.33vw;}

    .main-slider .slide-item > .slide-con > .slide-txt > p.txt-desc {font-size:1.25vw; margin-top:1vw;}
    
    .main-slider .slide-item > .slide-con > .slide-txt > .txt-btn {margin-top:3vw}
    
    .main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a.txt-btn-1 {font-size:1vw;  margin-right:2vw;}
    
    .main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a.txt-btn-2 {font-size:0.95vw;  padding:0.8vw 2.5vw;}
    
    .main-slider .slick-dots > li > button > .s-indicator > .inner-txt {font-size:1vw;}
    
    .main-slider .slick-dots > li > button, .main-slider .slick-dots > li > button > .s-line-fill {height:0.15vw;}
    
    .main-slider .slick-arrow::before {width:2.5vw;  height:3.8vw;}
}

@media (max-width:770px){
    .main-slider .slick-arrow {display:none !important;}
    
    .main-slider .slick-dots {
        width:auto;
        background-color:rgba(0,0,0,.5);
        padding:4px 6px;
        padding-right:25px;
        border-radius:45px;
    }
    
    .main-slider .slick-dots > li {
        width:auto;
        margin:0 7px 0 6px;
        padding-left:0;
    }
    
    .main-slider .slick-dots > li > button {
        width:8px;
        height:8px;
        border-radius:45px;
        box-sizing:content-box;
        border:1px solid #fff;
        background-color:rgba(0,0,0,0);
    }
    
    .main-slider .slick-dots .slick-active > button {background-color:#fff;}
    
    .main-slider .slick-dots > li > button > .s-line-fill {
        width:0;
        height:1.6vw;
        border-radius:45px;
        visibility:hidden;
    }
    
    .slider-wrap .s-autoplay-btn {
        width:10px;
        height:10px;
        left:50%;
        bottom:24px;
        margin-left:52px;
    }
    
    .slider-wrap[data-slick-autoplay-status="Y"] .s-autoplay-btn {color:red;}

    .slider-wrap[data-slick-autoplay-status="N"] .s-autoplay-btn {color:white;}
    
    /* 내부 텍스트 */
    .main-slider .slide-item > .slide-con > .slide-txt {
        padding:0;
        text-align:center;
        top:10%;
        left:50%;
        transform:translatex(-50%);
        width:100%;
    }
    
    .main-slider .slide-item > .slide-con > .slide-txt > h2.txt-tt {font-size:8vw;}

    .main-slider .slide-item > .slide-con > .slide-txt > p.txt-desc {font-size:3.8vw; margin-top:3vw;}
    
    .main-slider .slide-item > .slide-con > .slide-txt > .txt-btn {margin-top:5vw;}
    
    .main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a.txt-btn-1 {
        font-size:3.8vw;
        margin-right:2vw;
    }
    
    .main-slider .slide-item > .slide-con > .slide-txt > .txt-btn > a.txt-btn-2 {
        font-size:3.8vw;
        margin-top:3vw;
        padding:3.6vw 7.7vw;
    }
}

/* 반응형 라이브러리 */
@media (min-width:771px){
    .only-mobile {display:none;}
}

@media (max-width:770px){
    .only-pc {display:none;}
}